@use "variables" as *;

.page-register-body {
    font-family: 'Poppins', sans-serif;
    background: white;
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
    padding: 30px;
}

.register-card {
    background: #fff;
    padding: 40px;
    border-radius: 16px;
    box-shadow: 0 8px 30px rgba(0, 0, 0, 0.1);
    width: 100%;
    max-width: 600px;

    h2 {
        margin-bottom: 30px;
        text-align: center;
        color: $primary-color;
        font-weight: bold;
    }

    .form-control {
        border-radius: 8px;
        padding: 12px;
        font-size: 15px;
    }

    .btn-register {
        background-color: $primary-color;
        border: none;
        padding: 12px;
        width: 100%;
        font-weight: bold;
        border-radius: 8px;
        transition: 0.3s;

        &:hover {
            background-color: darken($primary-color, 8%);
        }
    }

    .form-label {
        font-weight: 500;
        color: #444;
    }

    .form-group {
        margin-bottom: 20px;
    }
}
